<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431522431604-85pj6mgoplquojq7pje82upg5p1v44u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431522431604-85pj6mgoplquojq7pje82upg5p1v44u8</string>
	<key>API_KEY</key>
	<string>AIzaSyCstHQuO8Sk1M3m58TfRtJ7J2b7dvKr-i8</string>
	<key>GCM_SENDER_ID</key>
	<string>431522431604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>project-7d66f</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7d66f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431522431604:ios:a1d7bfb06417ae16b08721</string>
</dict>
</plist>